<div id="ocr-settings-container">
       <div id="ocr-settings-action">
              <form action="/ocr-setting-reboot" method="post">
                     <input type="button" th:value="#{save.and.reboot}" id="ocr-settings-reboot-btn">
              </form>
              <div id="yolo-upload-container">
                     <form id="yolo-uplad-form" enctype="multipart/form-data" action="/yoloupload" method="post">
                            <input type="file" class="ocr-upload-input" name="yolo" value="yolo">
                            <input type="button" class="ocr-upload-btn " id="yolo-upload-btn" value="UP YOLO">
                     </form>
                     <progress id="yolo-update-progressBar" value="0" max="100"></progress>
              </div>
              <div id="trocr-upload-container">
                     <form id="trocr-uplad-form" enctype="multipart/form-data" action="/trocrupload" method="post">
                            <input type="file" class="ocr-upload-input" name="trocr" value="trocr">
                            <input type="button" class="ocr-upload-btn " id="trocr-upload-btn" value="UP TROCR">
                     </form>
                     <progress id="trocr-update-progressBar" value="0" max="100"></progress>
              </div>
              <div id="ocr-settings-indicator"></div>
       </div>

       <div th:each="ocr : ${ocrModels}" id="ocr-settings-forms-container">
              <form method="post" action="/updateOcrSettings" class="ocr-settings-from">

                     <!-- Index (hidden, readonly) -->
                     <label th:for="'index' + ${ocr.index}" class="ocr-settings-main-label"
                            th:text="'OCR ' + ${ocr.index}"></label>
                     <input type="number" name="index" th:value="${ocr.index}" readonly="readonly"
                            th:id="'index' + ${ocr.index}" hidden>

                     <!-- RTSP URLs -->
                     <label th:for="'rtspUrl1' + ${ocr.index}">RTSP URL 1</label>
                     <input type="text" name="rtspUrl1" class="ocr-settings-selector" th:id="'rtspUrl1' + ${ocr.index}"
                            th:value="${ocr.rtspUrl_1}">

                     <label th:for="'rtspUrl2' + ${ocr.index}">RTSP URL 2</label>
                     <input type="text" name="rtspUrl2" class="ocr-settings-selector" th:id="'rtspUrl2' + ${ocr.index}"
                            th:value="${ocr.rtspUrl_2}">

                     <!------OBJECT DETECTION SETTINGS-1------>

                     <label th:for="'minConfidence_1' + ${ocr.index}">Confidence 1</label>
                     <input type="number" name="minConfidence_1" class="ocr-settings-selector"
                            th:id="'minConfidence_1' + ${ocr.minConfidence_1}" th:value="${ocr.minConfidence_1}">

                     <label th:for="'minObJecWidth_1' + ${ocr.index}">Sector Width 1</label>
                     <input type="number" name="minObJecWidth_1" class="ocr-settings-selector"
                            th:id="'minObJecWidth' + ${ocr.minObJecWidth_1}" th:value="${ocr.minObJecWidth_1}">

                     <label th:for="'minobJecHeight_1' + ${ocr.index}">Sector Height 1</label>
                     <input type="number" name="minobJecHeight_1" class="ocr-settings-selector"
                            th:id="'minobJecHeight_1' + ${ocr.minobJecHeight_1}" th:value="${ocr.minobJecHeight_1}">

                            <!------OBJECT DETECTION SETTINGS-2------>

                     <label th:for="'minConfidence_2' + ${ocr.index}">Confidence 2</label>
                     <input type="number" name="minConfidence_2" class="ocr-settings-selector"
                            th:id="'minConfidence_2' + ${ocr.minConfidence_2}" th:value="${ocr.minConfidence_2}">

                     <label th:for="'minObJecWidth_2' + ${ocr.index}">Sector Width 2</label>
                     <input type="number" name="minObJecWidth_2" class="ocr-settings-selector"
                            th:id="'minObJecWidth_2' + ${ocr.minObJecWidth_2}" th:value="${ocr.minObJecWidth_2}">

                     <label th:for="'minobJecHeight_2' + ${ocr.index}">Sector Height 2</label>
                     <input type="number" name="minobJecHeight_2" class="ocr-settings-selector"
                            th:id="'minobJecHeight_2' + ${ocr.minobJecHeight_2}" th:value="${ocr.minobJecHeight_2}">

                     <!-- Active Detection -->
                     <label th:for="'activeDetection' + ${ocr.index}">Active Detection</label>
                     <select name="activeDetection" class="ocr-settings-selector"
                            th:id="'activeDetection' + ${ocr.index}">
                            <option value="true" th:selected="${ocr.activeDetection}">ON</option>
                            <option value="false" th:selected="${!ocr.activeDetection}">OFF</option>
                     </select>

                     <!-- Active Stream -->
                     <label th:for="'activeStream' + ${ocr.index}">Active Stream</label>
                     <select name="activeStream" class="ocr-settings-selector" th:id="'activeStream' + ${ocr.index}">
                            <option value="true" th:selected="${ocr.activeStream}">ON</option>
                            <option value="false" th:selected="${!ocr.activeStream}">OFF</option>
                     </select>

                     <!-- Submit button -->
                     <input type="button" th:value="#{ocr.set.settings}" class="ocr-settings-btn">

              </form>
       </div>
</div>