#archive-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    color: white;
}
#archive-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: aliceblue;
}

#archive-filters-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#archive-filter-selector {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

.archive-filter-date {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

#archive-filter-btn,
#archive-clear-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

#archive-filter-btn:hover,
#archive-clear-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}


#archive-fast-buttons-container {
    display: flex;
    gap: 10px;
}

#archive-nonumberd-btn{
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
#archive-nonumberd-btn:hover {
    background: linear-gradient(45deg, #ff7043, #ff5722);
    box-shadow: 0 0 15px rgba(255, 87, 34, 0.6);
}

#archive-nomatched-btn{
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}
#archive-nomatched-btn:hover {
    background: linear-gradient(45deg, #ff7043, #ff5722);
    box-shadow: 0 0 15px rgba(255, 87, 34, 0.6);
}

#archive-vi-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}



.archiv-train-from {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: aliceblue;
    padding: 2px;
    cursor: default;
}

.archiv-train-btn {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
}

.archiv-train-status-red {
    padding: 5px;
    width: 18ch;
    border: 1px solid #140606;
    background: none;
    text-align: center;
    color: red;
    cursor: default;
}

.archiv-train-status-green {
    padding: 5px;
    width: 18ch;
    border: 1px solid #140606;
    background: none;
    text-align: center;
    color: green;
    cursor: default;
}