#archive-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}


#archive-vi-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.archiv-train-from {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: aliceblue;
    padding: 2px;
}

.archiv-train-btn {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
}

.archiv-train-status-red {
    padding: 5px;
    width: 18ch;
    border: 1px solid #140606;
    background: none;
    text-align: center;
    color: red;
}

.archiv-train-status-green {
    padding: 5px;
    width: 18ch;
    border: 1px solid #140606;
    background: none;
    text-align: center;
    color: green;
}

.status-indic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    /* Default color, can be changed based on status */
}