#comPort-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

#comPort-indicator {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: transparent;
}

#comPort-set-container {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

.com-set-main-lable{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.comPort-set-from {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.comPort-set-from:hover{
    background-color: #0011ff27;
}

.comPort-set-from label {
    color: #000000;
    display: block;
}

.comPort-set-selector {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.comPort-set-btn {
    margin-top: 10px;
    align-self: flex-start;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
}

.comPort-set-btn:hover {
    background-color: #0550a0;
}