#owner-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

#owner-btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#owner-set-btn-clone {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#owner-set-btn-clone:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#owner-set-and-reboot-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}


#owner-set-and-reboot-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#owner-indicator {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: transparent;
}

#owner-logo-uploader {
    background-color: #00ff00;
}

#owner-logo-upload-btn-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#logo-update-progressBar{
    height: 30px;
    border: none;
    background: none;
}

#owner-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
#owner-logo-img{
    width: auto;
    height: 100px;
}

#owner-set-from {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

#owner-set-from:hover {
    background-color: #0011ff27;
}

.owner-input {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}

#owner-set-btn {
    width: 100%;
    margin-top: 30px;
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
}

#owner-set-btn:hover {
    background-color: #0550a0;
}