#owner-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
#owner-btn-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#owner-set-btn-clone {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#owner-set-btn-clone:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#owner-set-and-reboot-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}


#owner-set-and-reboot-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#owner-indicator{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: transparent;
}

#owner-settings-div{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}
#owner-set-from {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
}

#owner-settings-div label {
    font-weight: 600;
    color: #000000;
    margin-bottom: 2px;
    margin-top: 10px;
}

.owner-input{
    text-align: center;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}

.owner-selector{
    text-align: center;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    color: #000000;
    font-size: 18px;
}

#owner-set-btn {
    width: 100%;
    margin-top: 30px;
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
}

#owner-set-btn:hover {
    background-color: #0550a0;
}
