#wagontares-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

#wagontares-btn-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#wagontares-tare-input{
    padding: 10px;
    border: none;
    width: 20ch;
    text-align: center;
    font-size: medium;
}

#wagontares-number-input{
    padding: 10px;
    border: none;
    width: 25ch;
    text-align: center;
    font-size: medium;
}

#wagontares-add-tare-btn{
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#wagontares-add-tare-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#wagontares-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color:aliceblue;
}

#wagontares-edit-container{
    margin-left: 20%;
}

.wagontares-edit-input{
    padding: 5px;
    width: 20ch;
    text-align: center;
    font-size:small;
    font-weight: 600;
}

.wagontares-tare-weight{
    padding: 5px;
    width: 10ch;
    text-align: center;
    font-size:small;
    font-weight: 600;
}

.wagontares-edit-btn{
    background-color: #2b853a;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 800;
}

.wagontares-edit-btn:hover {
    background-color: #3aac4d;
    padding: 6px;
}