<div id="archive-container">
    <div id="archive-action">
        <div id="archive-btn-container">
            <form action="/startWeighing_1" method="post">
                <input type="button" th:value="#{weighing.start}" id="archive-start-weighing-btn">
            </form>
            <form action="/abortWeighing_1" method="post">
                <input type="button" th:value="#{weighing.abort}" id="archive-abort-weighing-btn">
            </form>
        </div>
        <form action="/updateAllWeighing_1" method="post">
            <input type="button" th:value="#{weighing.update}" id="archive-update-weighing-btn">
        </form>
        <div id="archive-indicator"></div>
    </div>
    <div th:each=" train : ${trains}" id="archive-vi-container">
        <a th:href="@{'/archipdf/' + ${train.id}+'.pdf'}" class="archiv_name" target="_blank" rel="noopener noreferrer"
            th:text="${train.processId} + ' ' + ${train.scaleName} +' '+ ${train.weighingStartDateTime} + '----- ' + ${train.count}">

        </a>
    </div>

</div>