<div id="cam-settings-container">
    <div id="cam-settings-action">
        <form action="/cam-setting-reboot" method="post">
            <input type="button" th:value="#{save.and.reboot}" id="cam-settings-reboot-btn">
        </form>
        <div id="cam-settings-indicator"></div>
    </div>

    <div th:each="cam : ${cams}" id="cam-settings-forms-container">
        <form method="post" action="/updatecamsettings" class="cam-settings-from">

            <label th:for='camName+${cam.camName}' class="cam-settings-main-lable" th:text="${cam.camName}"></label>
            <input type="text" name="comName" th:value="${cam.camName}" readonly="readonly"
                th:id="camName+${cam.camName}" hidden>

            <label th:for='activ+${cam.camName}'>active</label>
            <select name="camEnabled" class="cam-settings-selector" th:id='activ+${cam.camName}'>
                <option value="true" th:selected="${cam.camEnabled}">ON</option>
                <option value="false" th:selected="${!cam.camEnabled}">OFF</option>
            </select>

            <label th:for='camUser+${cam.camName}'>Cam User</label>
            <input type="text" name="camUser" class="cam-settings-selector" th:value="${cam.camUser}"
                th:id="camUser+${cam.camName}">

            <label th:for='camPassword+${cam.camName}'>Cam User</label>
            <input type="text" name="camPassword" class="cam-settings-selector" th:value="${cam.camPassword}"
                th:id="camPassword+${cam.camName}">

            <label th:for='camIp+${cam.camName}'>Cam User</label>
            <input type="text" name="camIp" class="cam-settings-selector" th:value="${cam.camIp}"
                th:id="camIp+${cam.camName}">

            <label th:for='camPort+${cam.camName}'>Cam User</label>
            <input type="text" name="camPort" class="cam-settings-selector" th:value="${cam.camPort}"
                th:id="camPort+${cam.camName}">

            <label th:for='bufferSize+${cam.camName}'>Buffer Size</label>
            <input type="text" name="bufferSize" class="cam-settings-selector" th:value="${cam.bufferSize}"
                th:id="bufferSize+${cam.camName}">

            <label th:for='buffertime+${cam.camName}'>Buffer Time</label>
            <input type="text" name="buffertime" class="cam-settings-selector" th:value="${cam.buffertime}"
                th:id="buffertime+${cam.camName}">

            <input type="button" th:value="#{cam.set.settings}" class="cam-settings-btn">
        </form>
    </div>
</div>