<div th:each=" opw : ${opWagons}">
    <form method="post" action="/editWgon0" class="oprdata0-set-from">
        <input type="text" name="connId" th:value="${opw.connId}" hidden>
        <input type="text" name="id" th:value="${opw.id}" hidden>
        <input type="text" name="rowNumber" class="scale0-operdata-row-input"  th:value="${opw.rowNum}" readonly>
        <input type="text" class="scale0-operdata-weight-input"  th:value="${opw.tare}" readonly>
        <input type="text" class="scale0-operdata-weight-input"  th:value="${opw.weight}" readonly>
        <input type="text" name="product" class="scale0-operdata-product-input"  th:value="${opw.product}" th:placeholder="#{weighing.product}">
        <input type="text" name="wagonNumber" class="scale0-operdata-wagonNum-input"  th:value="${opw.wagonNumber}" th:placeholder="#{weighing.number}" >
        <input type="button" value="EDIT" class="oprdata0-set-btn">
    </form>
</div>